.videogame__poster {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  padding-top: 10px;
  margin: 10px;
}

.videogame-img {
  width: 100%;
  border-radius: 5px;
  /* box-shadow: rgba(254, 144, 234, 0.393) 0px 5px 15px; */
  /* box-shadow: rgba(16, 233, 182, 0.441) 0px 0px 30px; */
}

.videogame__title {
  color: white;
  font-size: medium;
  /* font-weight: ; */
  font-family: "Montserrat", sans-serif;
  /* text-shadow: 1px 1px 7px #fe90ea; */
  text-shadow: 1px 1px 8px rgb(59, 59, 59);
}
